.axis-w0{
    max-width: 0%;
}
.axis-w10{
    max-width: 10%;
}
.axis-w10\.2 {
    max-width: 10.2%;
}
.axis-w10\.4 {
    max-width: 10.4%;
}
.axis-w10\.6 {
    max-width: 10.6%;
}
.axis-w10\.8 {
    max-width: 10.8%;
}
.axis-w11{
    max-width: 11%;
}
.axis-w11\.2 {
    max-width: 11.2%;
}
.axis-w11\.4 {
    max-width: 11.4%;
}
.axis-w11\.6 {
    max-width: 11.6%;
}
.axis-w11\.8 {
    max-width: 11.8%;
}
.axis-w12{
    max-width: 12%;
}
.axis-w12\.2 {
    max-width: 12.2%;
}
.axis-w12\.4 {
    max-width: 12.4%;
}
.axis-w12\.6 {
    max-width: 12.6%;
}
.axis-w12\.8 {
    max-width: 12.8%;
}
.axis-w13{
    max-width: 13%;
}
.axis-w13\.2 {
    max-width: 13.2%;
}
.axis-w13\.4 {
    max-width: 13.4%;
}
.axis-w13\.6 {
    max-width: 13.6%;
}
.axis-w13\.8 {
    max-width: 13.8%;
}
.axis-w14{
    max-width: 14%;
}
.axis-w14\.2 {
    max-width: 14.2%;
}
.axis-w14\.4 {
    max-width: 14.4%;
}
.axis-w14\.6 {
    max-width: 14.6%;
}
.axis-w14\.8 {
    max-width: 14.8%;
}
.axis-w15{
    max-width: 15%;
}
.axis-w15\.2 {
    max-width: 15.2%;
}
.axis-w15\.4 {
    max-width: 15.4%;
}
.axis-w15\.6 {
    max-width: 15.6%;
}
.axis-w15\.8 {
    max-width: 15.8%;
}
.axis-w16{
    max-width: 16%;
}
.axis-w16\.2 {
    max-width: 16.2%;
}
.axis-w16\.4 {
    max-width: 16.4%;
}
.axis-w16\.6 {
    max-width: 16.6%;
}
.axis-w16\.8 {
    max-width: 16.8%;
}
.axis-w17{
    max-width: 17%;
}
.axis-w17\.2 {
    max-width: 17.2%;
}
.axis-w17\.4 {
    max-width: 17.4%;
}
.axis-w17\.6 {
    max-width: 17.6%;
}
.axis-w17\.8 {
    max-width: 17.8%;
}
.axis-w18{
    max-width: 18%;
}
.axis-w18\.2 {
    max-width: 18.2%;
}
.axis-w18\.4 {
    max-width: 18.4%;
}
.axis-w18\.6 {
    max-width: 18.6%;
}
.axis-w18\.8 {
    max-width: 18.8%;
}
.axis-w19{
    max-width: 19%;
}
.axis-w19\.2 {
    max-width: 19.2%;
}
.axis-w19\.4 {
    max-width: 19.4%;
}
.axis-w19\.6 {
    max-width: 19.6%;
}
.axis-w19\.8 {
    max-width: 19.8%;
}
.axis-w20{
    max-width: 20%;
}
.axis-w20\.2 {
    max-width: 20.2%;
}
.axis-w20\.4 {
    max-width: 20.4%;
}
.axis-w20\.6 {
    max-width: 20.6%;
}
.axis-w20\.8 {
    max-width: 20.8%;
}
.axis-w21{
    max-width: 21%;
}
.axis-w21\.2 {
    max-width: 21.2%;
}
.axis-w21\.4 {
    max-width: 21.4%;
}
.axis-w21\.6 {
    max-width: 21.6%;
}
.axis-w21\.8 {
    max-width: 21.8%;
}
.axis-w22{
    max-width: 22%;
}
.axis-w22\.2 {
    max-width: 22.2%;
}
.axis-w22\.4 {
    max-width: 22.4%;
}
.axis-w22\.6 {
    max-width: 22.6%;
}
.axis-w22\.8 {
    max-width: 22.8%;
}
.axis-w23{
    max-width: 23%;
}
.axis-w23\.2 {
    max-width: 23.2%;
}
.axis-w23\.4 {
    max-width: 23.4%;
}
.axis-w23\.6 {
    max-width: 23.6%;
}
.axis-w23\.8 {
    max-width: 23.8%;
}
.axis-w24{
    max-width: 24%;
}
.axis-w24\.2 {
    max-width: 24.2%;
}
.axis-w24\.4 {
    max-width: 24.4%;
}
.axis-w24\.6 {
    max-width: 24.6%;
}
.axis-w24\.8 {
    max-width: 24.8%;
}
.axis-w25{
    max-width: 25%;
}
.axis-w25\.2 {
    max-width: 25.2%;
}
.axis-w25\.4 {
    max-width: 25.4%;
}
.axis-w25\.6 {
    max-width: 25.6%;
}
.axis-w25\.8 {
    max-width: 25.8%;
}
.axis-w26{
    max-width: 26%;
}
.axis-w26\.2 {
    max-width: 26.2%;
}
.axis-w26\.4 {
    max-width: 26.4%;
}
.axis-w26\.6 {
    max-width: 26.6%;
}
.axis-w26\.8 {
    max-width: 26.8%;
}
.axis-w27{
    max-width: 27%;
}
.axis-w27\.2 {
    max-width: 27.2%;
}
.axis-w27\.4 {
    max-width: 27.4%;
}
.axis-w27\.6 {
    max-width: 27.6%;
}
.axis-w27\.8 {
    max-width: 27.8%;
}
.axis-w28{
    max-width: 28%;
}
.axis-w28\.2 {
    max-width: 28.2%;
}
.axis-w28\.4 {
    max-width: 28.4%;
}
.axis-w28\.6 {
    max-width: 28.6%;
}
.axis-w28\.8 {
    max-width: 28.8%;
}
.axis-w29{
    max-width: 29%;
}
.axis-w29\.2 {
    max-width: 29.2%;
}
.axis-w29\.4 {
    max-width: 29.4%;
}
.axis-w29\.6 {
    max-width: 29.6%;
}
.axis-w29\.8 {
    max-width: 29.8%;
}
.axis-w30{
    max-width: 30%;
}
.axis-w30\.2 {
    max-width: 30.2%;
}
.axis-w30\.4 {
    max-width: 30.4%;
}
.axis-w30\.6 {
    max-width: 30.6%;
}
.axis-w30\.8 {
    max-width: 30.8%;
}
.axis-w31{
    max-width: 31%;
}
.axis-w31\.2 {
    max-width: 31.2%;
}
.axis-w31\.4 {
    max-width: 31.4%;
}
.axis-w31\.6 {
    max-width: 31.6%;
}
.axis-w31\.8 {
    max-width: 31.8%;
}
.axis-w32{
    max-width: 32%;
}
.axis-w32\.2 {
    max-width: 32.2%;
}
.axis-w32\.4 {
    max-width: 32.4%;
}
.axis-w32\.6 {
    max-width: 32.6%;
}
.axis-w32\.8 {
    max-width: 32.8%;
}
.axis-w33{
    max-width: 33%;
}
.axis-w33\.2 {
    max-width: 33.2%;
}
.axis-w33\.4 {
    max-width: 33.4%;
}
.axis-w33\.6 {
    max-width: 33.6%;
}
.axis-w33\.8 {
    max-width: 33.8%;
}
.axis-w34{
    max-width: 34%;
}
.axis-w34\.2 {
    max-width: 34.2%;
}
.axis-w34\.4 {
    max-width: 34.4%;
}
.axis-w34\.6 {
    max-width: 34.6%;
}
.axis-w34\.8 {
    max-width: 34.8%;
}
.axis-w35{
    max-width: 35%;
}
.axis-w35\.2 {
    max-width: 35.2%;
}
.axis-w35\.4 {
    max-width: 35.4%;
}
.axis-w35\.6 {
    max-width: 35.6%;
}
.axis-w35\.8 {
    max-width: 35.8%;
}
.axis-w36{
    max-width: 36%;
}
.axis-w36\.2 {
    max-width: 36.2%;
}
.axis-w36\.4 {
    max-width: 36.4%;
}
.axis-w36\.6 {
    max-width: 36.6%;
}
.axis-w36\.8 {
    max-width: 36.8%;
}
.axis-w37{
    max-width: 37%;
}
.axis-w37\.2 {
    max-width: 37.2%;
}
.axis-w37\.4 {
    max-width: 37.4%;
}
.axis-w37\.6 {
    max-width: 37.6%;
}
.axis-w37\.8 {
    max-width: 37.8%;
}
.axis-w38{
    max-width: 38%;
}
.axis-w38\.2 {
    max-width: 38.2%;
}
.axis-w38\.4 {
    max-width: 38.4%;
}
.axis-w38\.6 {
    max-width: 38.6%;
}
.axis-w38\.8 {
    max-width: 38.8%;
}
.axis-w39{
    max-width: 39%;
}
.axis-w39\.2 {
    max-width: 39.2%;
}
.axis-w39\.4 {
    max-width: 39.4%;
}
.axis-w39\.6 {
    max-width: 39.6%;
}
.axis-w39\.8 {
    max-width: 39.8%;
}
.axis-w40{
    max-width: 40%;
}
.axis-w40\.2 {
    max-width: 40.2%;
}
.axis-w40\.4 {
    max-width: 40.4%;
}
.axis-w40\.6 {
    max-width: 40.6%;
}
.axis-w40\.8 {
    max-width: 40.8%;
}
.axis-w41{
    max-width: 41%;
}
.axis-w41\.2 {
    max-width: 41.2%;
}
.axis-w41\.4 {
    max-width: 41.4%;
}
.axis-w41\.6 {
    max-width: 41.6%;
}
.axis-w41\.8 {
    max-width: 41.8%;
}
.axis-w42{
    max-width: 42%;
}
.axis-w42\.2 {
    max-width: 42.2%;
}
.axis-w42\.4 {
    max-width: 42.4%;
}
.axis-w42\.6 {
    max-width: 42.6%;
}
.axis-w42\.8 {
    max-width: 42.8%;
}
.axis-w43{
    max-width: 43%;
}
.axis-w43\.2 {
    max-width: 43.2%;
}
.axis-w43\.4 {
    max-width: 43.4%;
}
.axis-w43\.6 {
    max-width: 43.6%;
}
.axis-w43\.8 {
    max-width: 43.8%;
}
.axis-w44{
    max-width: 44%;
}
.axis-w44\.2 {
    max-width: 44.2%;
}
.axis-w44\.4 {
    max-width: 44.4%;
}
.axis-w44\.6 {
    max-width: 44.6%;
}
.axis-w44\.8 {
    max-width: 44.8%;
}
.axis-w45{
    max-width: 45%;
}
.axis-w45\.2 {
    max-width: 45.2%;
}
.axis-w45\.4 {
    max-width: 45.4%;
}
.axis-w45\.6 {
    max-width: 45.6%;
}
.axis-w45\.8 {
    max-width: 45.8%;
}
.axis-w46{
    max-width: 46%;
}
.axis-w46\.2 {
    max-width: 46.2%;
}
.axis-w46\.4 {
    max-width: 46.4%;
}
.axis-w46\.6 {
    max-width: 46.6%;
}
.axis-w46\.8 {
    max-width: 46.8%;
}
.axis-w47{
    max-width: 47%;
}
.axis-w47\.2 {
    max-width: 47.2%;
}
.axis-w47\.4 {
    max-width: 47.4%;
}
.axis-w47\.6 {
    max-width: 47.6%;
}
.axis-w47\.8 {
    max-width: 47.8%;
}
.axis-w48{
    max-width: 48%;
}
.axis-w48\.2 {
    max-width: 48.2%;
}
.axis-w48\.4 {
    max-width: 48.4%;
}
.axis-w48\.6 {
    max-width: 48.6%;
}
.axis-w48\.8 {
    max-width: 48.8%;
}
.axis-w49{
    max-width: 49%;
}
.axis-w49\.2 {
    max-width: 49.2%;
}
.axis-w49\.4 {
    max-width: 49.4%;
}
.axis-w49\.6 {
    max-width: 49.6%;
}
.axis-w49\.8 {
    max-width: 49.8%;
}
.axis-w50 {
    max-width: 50%;
}
.axis-w100{
    max-width: 100%;
}

.axis-align1{
    text-align: left;
}
.axis-align2{
    text-align: center;
}
.axis-align3{
    text-align: right;
}
.axis-align4{
    text-align: justify;
}

.axis-f0 {
    line-height: 2;
}
.axis-f1\.1 {
   line-height: 1.1;
}
.axis-f1\.2 {
   line-height: 1.2;
}
.axis-f1\.3 {
   line-height: 1.3;
}
.axis-f1\.4 {
   line-height: 1.4;
}
.axis-f1\.5 {
   line-height: 1.5;
}
.axis-f1\.6 {
   line-height: 1.6;
}
.axis-f1\.7 {
   line-height: 1.7;
}
.axis-f1\.8 {
   line-height: 1.8;
}
.axis-f1\.9 {
   line-height: 1.9;
}

.axis-f1 {
    font-weight: 100;
}
.axis-f2 {
    font-weight: 200;
}
.axis-f3 {
    font-weight: 300;
}
.axis-f4 {
    font-weight: 400;
}
.axis-f5 {
    font-weight: 500;
}
.axis-f6 {
    font-weight: 600;
}
.axis-f7 {
    font-weight: 700;
}
.axis-f8 {
    font-weight: 800;
}
.axis-f9 {
    font-weight: 900;
}


.axis-f10 {
    font-size: 10px;
}
.axis-f11 {
    font-size: 11px;
}
.axis-f12 {
    font-size: 12px;
}
.axis-f13 {
    font-size: 13px;
}
.axis-f14 {
    font-size: 14px;
}
.axis-f15 {
    font-size: 15px;
}
.axis-f16 {
    font-size: 16px;
}
.axis-f17 {
    font-size: 17px;
}
.axis-f18 {
    font-size: 18px;
}
.axis-f19 {
    font-size: 19px;
}
.axis-f20 {
    font-size: 20px;
}
.axis-f21 {
    font-size: 21px;
}
.axis-f22 {
    font-size: 22px;
}
.axis-f23 {
    font-size: 23px;
}
.axis-f24 {
    font-size: 24px;
}
.axis-f25 {
    font-size: 25px;
}
.axis-f26 {
    font-size: 26px;
}
.axis-f27 {
    font-size: 27px;
}
.axis-f28 {
    font-size: 28px;
}
.axis-f29 {
    font-size: 29px;
}
.axis-f30 {
    font-size: 30px;
}
.axis-f31 {
    font-size: 31px;
}
.axis-f32 {
    font-size: 32px;
}
.axis-f33 {
    font-size: 33px;
}
.axis-f34 {
    font-size: 34px;
}
.axis-f35 {
    font-size: 35px;
}
.axis-f36 {
    font-size: 36px;
}
.axis-f37 {
    font-size: 37px;
}
.axis-f38 {
    font-size: 38px;
}
.axis-f39 {
    font-size: 39px;
}
.axis-f40 {
    font-size: 40px;
}
.axis-f41 {
    font-size: 41px;
}
.axis-f42 {
    font-size: 42px;
}
.axis-f43 {
    font-size: 43px;
}
.axis-f44 {
    font-size: 44px;
}
.axis-f45 {
    font-size: 45px;
}
.axis-f46 {
    font-size: 46px;
}
.axis-f47 {
    font-size: 47px;
}
.axis-f48 {
    font-size: 48px;
}
.axis-f49 {
    font-size: 49px;
}
.axis-f50 {
    font-size: 50px;
}
.axis-f51 {
    font-size: 51px;
}
.axis-f52 {
    font-size: 52px;
}
.axis-f53 {
    font-size: 53px;
}
.axis-f54 {
    font-size: 54px;
}
.axis-f55 {
    font-size: 55px;
}
.axis-f56 {
    font-size: 56px;
}
.axis-f57 {
    font-size: 57px;
}
.axis-f58 {
    font-size: 58px;
}
.axis-f59 {
    font-size: 59px;
}
.axis-f60 {
    font-size: 60px;
}
.axis-f61 {
    font-size: 61px;
}
.axis-f62 {
    font-size: 62px;
}
.axis-f63 {
    font-size: 63px;
}
.axis-f64 {
    font-size: 64px;
}
.axis-f65 {
    font-size: 65px;
}
.axis-f66 {
    font-size: 66px;
}
.axis-f67 {
    font-size: 67px;
}
.axis-f68 {
    font-size: 68px;
}
.axis-f69 {
    font-size: 69px;
}
.axis-f70 {
    font-size: 70px;
}
.axis-f71 {
    font-size: 71px;
}
.axis-f72 {
    font-size: 72px;
}
.axis-f73 {
    font-size: 73px;
}
.axis-f74 {
    font-size: 74px;
}
.axis-f75 {
    font-size: 75px;
}
.axis-f76 {
    font-size: 76px;
}
.axis-f77 {
    font-size: 77px;
}
.axis-f78 {
    font-size: 78px;
}
.axis-f79 {
    font-size: 79px;
}
.axis-f80 {
    font-size: 80px;
}
.axis-f81 {
    font-size: 81px;
}
.axis-f82 {
    font-size: 82px;
}
.axis-f83 {
    font-size: 83px;
}
.axis-f84 {
    font-size: 84px;
}
.axis-f85 {
    font-size: 85px;
}
.axis-f86 {
    font-size: 86px;
}
.axis-f87 {
    font-size: 87px;
}
.axis-f88 {
    font-size: 88px;
}
.axis-f89 {
    font-size: 89px;
}
.axis-f90 {
    font-size: 90px;
}
.axis-f91 {
    font-size: 91px;
}
.axis-f92 {
    font-size: 92px;
}
.axis-f93 {
    font-size: 93px;
}
.axis-f94 {
    font-size: 94px;
}
.axis-f95 {
    font-size: 95px;
}
.axis-f96 {
    font-size: 96px;
}
.axis-f97 {
    font-size: 97px;
}
.axis-f98 {
    font-size: 98px;
}
.axis-f99 {
    font-size: 99px;
}

@media (min-width:768px){
    
    ._axis-align1{
        text-align: left;
    }
    ._axis-align2{
        text-align: center;
    }
    ._axis-align3{
        text-align: right;
    }
    ._axis-align4{
        text-align: justify;
    }

    ._axis-w0{
        max-width: 0%;
    }
    ._axis-w10{
        max-width: 10%;
    }
    ._axis-w10\.2 {
        max-width: 10.2%;
    }
    ._axis-w10\.4 {
        max-width: 10.4%;
    }
    ._axis-w10\.6 {
        max-width: 10.6%;
    }
    ._axis-w10\.8 {
        max-width: 10.8%;
    }
    ._axis-w11{
        max-width: 11%;
    }
    ._axis-w11\.2 {
        max-width: 11.2%;
    }
    ._axis-w11\.4 {
        max-width: 11.4%;
    }
    ._axis-w11\.6 {
        max-width: 11.6%;
    }
    ._axis-w11\.8 {
        max-width: 11.8%;
    }
    ._axis-w12{
        max-width: 12%;
    }
    ._axis-w12\.2 {
        max-width: 12.2%;
    }
    ._axis-w12\.4 {
        max-width: 12.4%;
    }
    ._axis-w12\.6 {
        max-width: 12.6%;
    }
    ._axis-w12\.8 {
        max-width: 12.8%;
    }
    ._axis-w13{
        max-width: 13%;
    }
    ._axis-w13\.2 {
        max-width: 13.2%;
    }
    ._axis-w13\.4 {
        max-width: 13.4%;
    }
    ._axis-w13\.6 {
        max-width: 13.6%;
    }
    ._axis-w13\.8 {
        max-width: 13.8%;
    }
    ._axis-w14{
        max-width: 14%;
    }
    ._axis-w14\.2 {
        max-width: 14.2%;
    }
    ._axis-w14\.4 {
        max-width: 14.4%;
    }
    ._axis-w14\.6 {
        max-width: 14.6%;
    }
    ._axis-w14\.8 {
        max-width: 14.8%;
    }
    ._axis-w15{
        max-width: 15%;
    }
    ._axis-w15\.2 {
        max-width: 15.2%;
    }
    ._axis-w15\.4 {
        max-width: 15.4%;
    }
    ._axis-w15\.6 {
        max-width: 15.6%;
    }
    ._axis-w15\.8 {
        max-width: 15.8%;
    }
    ._axis-w16{
        max-width: 16%;
    }
    ._axis-w16\.2 {
        max-width: 16.2%;
    }
    ._axis-w16\.4 {
        max-width: 16.4%;
    }
    ._axis-w16\.6 {
        max-width: 16.6%;
    }
    ._axis-w16\.8 {
        max-width: 16.8%;
    }
    ._axis-w17{
        max-width: 17%;
    }
    ._axis-w17\.2 {
        max-width: 17.2%;
    }
    ._axis-w17\.4 {
        max-width: 17.4%;
    }
    ._axis-w17\.6 {
        max-width: 17.6%;
    }
    ._axis-w17\.8 {
        max-width: 17.8%;
    }
    ._axis-w18{
        max-width: 18%;
    }
    ._axis-w18\.2 {
        max-width: 18.2%;
    }
    ._axis-w18\.4 {
        max-width: 18.4%;
    }
    ._axis-w18\.6 {
        max-width: 18.6%;
    }
    ._axis-w18\.8 {
        max-width: 18.8%;
    }
    ._axis-w19{
        max-width: 19%;
    }
    ._axis-w19\.2 {
        max-width: 19.2%;
    }
    ._axis-w19\.4 {
        max-width: 19.4%;
    }
    ._axis-w19\.6 {
        max-width: 19.6%;
    }
    ._axis-w19\.8 {
        max-width: 19.8%;
    }
    ._axis-w20{
        max-width: 20%;
    }
    ._axis-w20\.2 {
        max-width: 20.2%;
    }
    ._axis-w20\.4 {
        max-width: 20.4%;
    }
    ._axis-w20\.6 {
        max-width: 20.6%;
    }
    ._axis-w20\.8 {
        max-width: 20.8%;
    }
    ._axis-w21{
        max-width: 21%;
    }
    ._axis-w21\.2 {
        max-width: 21.2%;
    }
    ._axis-w21\.4 {
        max-width: 21.4%;
    }
    ._axis-w21\.6 {
        max-width: 21.6%;
    }
    ._axis-w21\.8 {
        max-width: 21.8%;
    }
    ._axis-w22{
        max-width: 22%;
    }
    ._axis-w22\.2 {
        max-width: 22.2%;
    }
    ._axis-w22\.4 {
        max-width: 22.4%;
    }
    ._axis-w22\.6 {
        max-width: 22.6%;
    }
    ._axis-w22\.8 {
        max-width: 22.8%;
    }
    ._axis-w23{
        max-width: 23%;
    }
    ._axis-w23\.2 {
        max-width: 23.2%;
    }
    ._axis-w23\.4 {
        max-width: 23.4%;
    }
    ._axis-w23\.6 {
        max-width: 23.6%;
    }
    ._axis-w23\.8 {
        max-width: 23.8%;
    }
    ._axis-w24{
        max-width: 24%;
    }
    ._axis-w24\.2 {
        max-width: 24.2%;
    }
    ._axis-w24\.4 {
        max-width: 24.4%;
    }
    ._axis-w24\.6 {
        max-width: 24.6%;
    }
    ._axis-w24\.8 {
        max-width: 24.8%;
    }
    ._axis-w25{
        max-width: 25%;
    }
    ._axis-w25\.2 {
        max-width: 25.2%;
    }
    ._axis-w25\.4 {
        max-width: 25.4%;
    }
    ._axis-w25\.6 {
        max-width: 25.6%;
    }
    ._axis-w25\.8 {
        max-width: 25.8%;
    }
    ._axis-w26{
        max-width: 26%;
    }
    ._axis-w26\.2 {
        max-width: 26.2%;
    }
    ._axis-w26\.4 {
        max-width: 26.4%;
    }
    ._axis-w26\.6 {
        max-width: 26.6%;
    }
    ._axis-w26\.8 {
        max-width: 26.8%;
    }
    ._axis-w27{
        max-width: 27%;
    }
    ._axis-w27\.2 {
        max-width: 27.2%;
    }
    ._axis-w27\.4 {
        max-width: 27.4%;
    }
    ._axis-w27\.6 {
        max-width: 27.6%;
    }
    ._axis-w27\.8 {
        max-width: 27.8%;
    }
    ._axis-w28{
        max-width: 28%;
    }
    ._axis-w28\.2 {
        max-width: 28.2%;
    }
    ._axis-w28\.4 {
        max-width: 28.4%;
    }
    ._axis-w28\.6 {
        max-width: 28.6%;
    }
    ._axis-w28\.8 {
        max-width: 28.8%;
    }
    ._axis-w29{
        max-width: 29%;
    }
    ._axis-w29\.2 {
        max-width: 29.2%;
    }
    ._axis-w29\.4 {
        max-width: 29.4%;
    }
    ._axis-w29\.6 {
        max-width: 29.6%;
    }
    ._axis-w29\.8 {
        max-width: 29.8%;
    }
    ._axis-w30{
        max-width: 30%;
    }
    ._axis-w30\.2 {
        max-width: 30.2%;
    }
    ._axis-w30\.4 {
        max-width: 30.4%;
    }
    ._axis-w30\.6 {
        max-width: 30.6%;
    }
    ._axis-w30\.8 {
        max-width: 30.8%;
    }
    ._axis-w31{
        max-width: 31%;
    }
    ._axis-w31\.2 {
        max-width: 31.2%;
    }
    ._axis-w31\.4 {
        max-width: 31.4%;
    }
    ._axis-w31\.6 {
        max-width: 31.6%;
    }
    ._axis-w31\.8 {
        max-width: 31.8%;
    }
    ._axis-w32{
        max-width: 32%;
    }
    ._axis-w32\.2 {
        max-width: 32.2%;
    }
    ._axis-w32\.4 {
        max-width: 32.4%;
    }
    ._axis-w32\.6 {
        max-width: 32.6%;
    }
    ._axis-w32\.8 {
        max-width: 32.8%;
    }
    ._axis-w33{
        max-width: 33%;
    }
    ._axis-w33\.2 {
        max-width: 33.2%;
    }
    ._axis-w33\.4 {
        max-width: 33.4%;
    }
    ._axis-w33\.6 {
        max-width: 33.6%;
    }
    ._axis-w33\.8 {
        max-width: 33.8%;
    }
    ._axis-w34{
        max-width: 34%;
    }
    ._axis-w34\.2 {
        max-width: 34.2%;
    }
    ._axis-w34\.4 {
        max-width: 34.4%;
    }
    ._axis-w34\.6 {
        max-width: 34.6%;
    }
    ._axis-w34\.8 {
        max-width: 34.8%;
    }
    ._axis-w35{
        max-width: 35%;
    }
    ._axis-w35\.2 {
        max-width: 35.2%;
    }
    ._axis-w35\.4 {
        max-width: 35.4%;
    }
    ._axis-w35\.6 {
        max-width: 35.6%;
    }
    ._axis-w35\.8 {
        max-width: 35.8%;
    }
    ._axis-w36{
        max-width: 36%;
    }
    ._axis-w36\.2 {
        max-width: 36.2%;
    }
    ._axis-w36\.4 {
        max-width: 36.4%;
    }
    ._axis-w36\.6 {
        max-width: 36.6%;
    }
    ._axis-w36\.8 {
        max-width: 36.8%;
    }
    ._axis-w37{
        max-width: 37%;
    }
    ._axis-w37\.2 {
        max-width: 37.2%;
    }
    ._axis-w37\.4 {
        max-width: 37.4%;
    }
    ._axis-w37\.6 {
        max-width: 37.6%;
    }
    ._axis-w37\.8 {
        max-width: 37.8%;
    }
    ._axis-w38{
        max-width: 38%;
    }
    ._axis-w38\.2 {
        max-width: 38.2%;
    }
    ._axis-w38\.4 {
        max-width: 38.4%;
    }
    ._axis-w38\.6 {
        max-width: 38.6%;
    }
    ._axis-w38\.8 {
        max-width: 38.8%;
    }
    ._axis-w39{
        max-width: 39%;
    }
    ._axis-w39\.2 {
        max-width: 39.2%;
    }
    ._axis-w39\.4 {
        max-width: 39.4%;
    }
    ._axis-w39\.6 {
        max-width: 39.6%;
    }
    ._axis-w39\.8 {
        max-width: 39.8%;
    }
    ._axis-w40{
        max-width: 40%;
    }
    ._axis-w40\.2 {
        max-width: 40.2%;
    }
    ._axis-w40\.4 {
        max-width: 40.4%;
    }
    ._axis-w40\.6 {
        max-width: 40.6%;
    }
    ._axis-w40\.8 {
        max-width: 40.8%;
    }
    ._axis-w41{
        max-width: 41%;
    }
    ._axis-w41\.2 {
        max-width: 41.2%;
    }
    ._axis-w41\.4 {
        max-width: 41.4%;
    }
    ._axis-w41\.6 {
        max-width: 41.6%;
    }
    ._axis-w41\.8 {
        max-width: 41.8%;
    }
    ._axis-w42{
        max-width: 42%;
    }
    ._axis-w42\.2 {
        max-width: 42.2%;
    }
    ._axis-w42\.4 {
        max-width: 42.4%;
    }
    ._axis-w42\.6 {
        max-width: 42.6%;
    }
    ._axis-w42\.8 {
        max-width: 42.8%;
    }
    ._axis-w43{
        max-width: 43%;
    }
    ._axis-w43\.2 {
        max-width: 43.2%;
    }
    ._axis-w43\.4 {
        max-width: 43.4%;
    }
    ._axis-w43\.6 {
        max-width: 43.6%;
    }
    ._axis-w43\.8 {
        max-width: 43.8%;
    }
    ._axis-w44{
        max-width: 44%;
    }
    ._axis-w44\.2 {
        max-width: 44.2%;
    }
    ._axis-w44\.4 {
        max-width: 44.4%;
    }
    ._axis-w44\.6 {
        max-width: 44.6%;
    }
    ._axis-w44\.8 {
        max-width: 44.8%;
    }
    ._axis-w45{
        max-width: 45%;
    }
    ._axis-w45\.2 {
        max-width: 45.2%;
    }
    ._axis-w45\.4 {
        max-width: 45.4%;
    }
    ._axis-w45\.6 {
        max-width: 45.6%;
    }
    ._axis-w45\.8 {
        max-width: 45.8%;
    }
    ._axis-w46{
        max-width: 46%;
    }
    ._axis-w46\.2 {
        max-width: 46.2%;
    }
    ._axis-w46\.4 {
        max-width: 46.4%;
    }
    ._axis-w46\.6 {
        max-width: 46.6%;
    }
    ._axis-w46\.8 {
        max-width: 46.8%;
    }
    ._axis-w47{
        max-width: 47%;
    }
    ._axis-w47\.2 {
        max-width: 47.2%;
    }
    ._axis-w47\.4 {
        max-width: 47.4%;
    }
    ._axis-w47\.6 {
        max-width: 47.6%;
    }
    ._axis-w47\.8 {
        max-width: 47.8%;
    }
    ._axis-w48{
        max-width: 48%;
    }
    ._axis-w48\.2 {
        max-width: 48.2%;
    }
    ._axis-w48\.4 {
        max-width: 48.4%;
    }
    ._axis-w48\.6 {
        max-width: 48.6%;
    }
    ._axis-w48\.8 {
        max-width: 48.8%;
    }
    ._axis-w49{
        max-width: 49%;
    }
    ._axis-w49\.2 {
        max-width: 49.2%;
    }
    ._axis-w49\.4 {
        max-width: 49.4%;
    }
    ._axis-w49\.6 {
        max-width: 49.6%;
    }
    ._axis-w49\.8 {
        max-width: 49.8%;
    }
    ._axis-w50 {
        max-width: 50%;
    }
    ._axis-w100{
        max-width: 100%;
    }
    
    
    ._axis-f0 {
        line-height: 2;
    }
    ._axis-f1\.1 {
        line-height: 1.1;
    }
    ._axis-f1\.2 {
        line-height: 1.2;
    }
    ._axis-f1\.3 {
        line-height: 1.3;
    }
    ._axis-f1\.4 {
        line-height: 1.4;
    }
    ._axis-f1\.5 {
        line-height: 1.5;
    }
    ._axis-f1\.6 {
        line-height: 1.6;
    }
    ._axis-f1\.7 {
        line-height: 1.7;
    }
    ._axis-f1\.8 {
        line-height: 1.8;
    }
    ._axis-f1\.9 {
        line-height: 1.9;
    }
    
    ._axis-f1 {
        font-weight: 100;
    }
    ._axis-f2 {
        font-weight:200;
    }
    ._axis-f3 {
        font-weight:300;
    }
    ._axis-f4 {
        font-weight:400;
    }
    ._axis-f5 {
        font-weight:500;
    }
    ._axis-f6 {
        font-weight:600;
    }
    ._axis-f7 {
        font-weight: 700;
    }
    ._axis-f8 {
        font-weight: 800;
    }
    ._axis-f9 {
        font-weight: 900;
    }
    ._axis-f10 {
        font-size: 10px;
    }
    ._axis-f11 {
        font-size: 11px;
    }
    ._axis-f12 {
        font-size: 12px;
    }
    ._axis-f13 {
        font-size: 13px;
    }
    ._axis-f14 {
        font-size: 14px;
    }
    ._axis-f15 {
        font-size: 15px;
    }
    ._axis-f16 {
        font-size: 16px;
    }
    ._axis-f17 {
        font-size: 17px;
    }
    ._axis-f18 {
        font-size: 18px;
    }
    ._axis-f19 {
        font-size: 19px;
    }
    ._axis-f20 {
        font-size: 20px;
    }
    ._axis-f21 {
        font-size: 21px;
    }
    ._axis-f22 {
        font-size: 22px;
    }
    ._axis-f23 {
        font-size: 23px;
    }
    ._axis-f24 {
        font-size: 24px;
    }
    ._axis-f25 {
        font-size: 25px;
    }
    ._axis-f26 {
        font-size: 26px;
    }
    ._axis-f27 {
        font-size: 27px;
    }
    ._axis-f28 {
        font-size: 28px;
    }
    ._axis-f29 {
        font-size: 29px;
    }
    ._axis-f30 {
        font-size: 30px;
    }
    ._axis-f31 {
        font-size: 31px;
    }
    ._axis-f32 {
        font-size: 32px;
    }
    ._axis-f33 {
        font-size: 33px;
    }
    ._axis-f34 {
        font-size: 34px;
    }
    ._axis-f35 {
        font-size: 35px;
    }
    ._axis-f36 {
        font-size: 36px;
    }
    ._axis-f37 {
        font-size: 37px;
    }
    ._axis-f38 {
        font-size: 38px;
    }
    ._axis-f39 {
        font-size: 39px;
    }
    ._axis-f40 {
        font-size: 40px;
    }
    ._axis-f41 {
        font-size: 41px;
    }
    ._axis-f42 {
        font-size: 42px;
    }
    ._axis-f43 {
        font-size: 43px;
    }
    ._axis-f44 {
        font-size: 44px;
    }
    ._axis-f45 {
        font-size: 45px;
    }
    ._axis-f46 {
        font-size: 46px;
    }
    ._axis-f47 {
        font-size: 47px;
    }
    ._axis-f48 {
        font-size: 48px;
    }
    ._axis-f49 {
        font-size: 49px;
    }
    ._axis-f50 {
        font-size: 50px;
    }
    ._axis-f51 {
        font-size: 51px;
    }
    ._axis-f52 {
        font-size: 52px;
    }
    ._axis-f53 {
        font-size: 53px;
    }
    ._axis-f54 {
        font-size: 54px;
    }
    ._axis-f55 {
        font-size: 55px;
    }
    ._axis-f56 {
        font-size: 56px;
    }
    ._axis-f57 {
        font-size: 57px;
    }
    ._axis-f58 {
        font-size: 58px;
    }
    ._axis-f59 {
        font-size: 59px;
    }
    ._axis-f60 {
        font-size: 60px;
    }
    ._axis-f61 {
        font-size: 61px;
    }
    ._axis-f62 {
        font-size: 62px;
    }
    ._axis-f63 {
        font-size: 63px;
    }
    ._axis-f64 {
        font-size: 64px;
    }
    ._axis-f65 {
        font-size: 65px;
    }
    ._axis-f66 {
        font-size: 66px;
    }
    ._axis-f67 {
        font-size: 67px;
    }
    ._axis-f68 {
        font-size: 68px;
    }
    ._axis-f69 {
        font-size: 69px;
    }
    ._axis-f70 {
        font-size: 70px;
    }
    ._axis-f71 {
        font-size: 71px;
    }
    ._axis-f72 {
        font-size: 72px;
    }
    ._axis-f73 {
        font-size: 73px;
    }
    ._axis-f74 {
        font-size: 74px;
    }
    ._axis-f75 {
        font-size: 75px;
    }
    ._axis-f76 {
        font-size: 76px;
    }
    ._axis-f77 {
        font-size: 77px;
    }
    ._axis-f78 {
        font-size: 78px;
    }
    ._axis-f79 {
        font-size: 79px;
    }
    ._axis-f80 {
        font-size: 80px;
    }
    ._axis-f81 {
        font-size: 81px;
    }
    ._axis-f82 {
        font-size: 82px;
    }
    ._axis-f83 {
        font-size: 83px;
    }
    ._axis-f84 {
        font-size: 84px;
    }
    ._axis-f85 {
        font-size: 85px;
    }
    ._axis-f86 {
        font-size: 86px;
    }
    ._axis-f87 {
        font-size: 87px;
    }
    ._axis-f88 {
        font-size: 88px;
    }
    ._axis-f89 {
        font-size: 89px;
    }
    ._axis-f90 {
        font-size: 90px;
    }
    ._axis-f91 {
        font-size: 91px;
    }
    ._axis-f92 {
        font-size: 92px;
    }
    ._axis-f93 {
        font-size: 93px;
    }
    ._axis-f94 {
        font-size: 94px;
    }
    ._axis-f95 {
        font-size: 95px;
    }
    ._axis-f96 {
        font-size: 96px;
    }
    ._axis-f97 {
        font-size: 97px;
    }
    ._axis-f98 {
        font-size: 98px;
    }
    ._axis-f99 {
        font-size: 99px;
    }
    ._axis-f100 {
        font-size: 100px;
    }
}


.axis-dark{color: var(--dark)}
.axis-light{color: var(--light)}
.axis-red{color: var(--red)}
.axis-redOrange{color: var(--redOrange)}
.axis-orange{color: var(--orange)}
.axis-yellowOrange{color: var(--yellowOrange)}
.axis-yellow{color: var(--yellow)}
.axis-yellowGreen{color: var(--yellowGreen)}
.axis-green{color: var(--green)}
.axis-blueGreen{color: var(--blueGreen)}
.axis-blue{color: var(--blue)}
.axis-blueViolet{color: var(--blueViolet)}
.axis-violet{color: var(--biolet)}
.axis-redViolet{color: var(--redViolet)}