
@tailwind base;
@tailwind components;
@tailwind utilities;
:root {
  --gothic: "Yu Gothic", YuGothic, "ヒラギノ角ゴ ProN W3", "Hiragino Kaku Gothic ProN", Arial, メイリオ, Meiryo, sans-serif;
  --mincho: "游明朝体", "Yu Mincho", YuMincho, "ヒラギノ明朝 Pro", "Hiragino Mincho Pro", "MS P明朝", "MS PMincho", sans-serif;
  --meiryo: "Meiryo", "メイリオ", "ＭＳ Ｐゴシック", "MS PGothic", "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", Helvetica, Arial, Sans-Serif;
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
  --dark: #000;
  --light: #fff;
  --red: #ff0000;
  --redOrange: #ff4d00;
  --orange: #DF6951;
  --yellowOrange:#F1A501;
  --yellow: #fff600;
  --yellowGreen: #a2ff00;
  --green: #48d02d;
  --blueGreen: #2fc3e9;
  --blue: #181E4B;
  --blueViolet: #5E6282;
  --violet: #d311e4;
  --redViolet: #e41152;
}
body {
  font-family: var(--gothic);
  font-size: 14px;
  line-height: 1.6;
  font-weight: 500;
  -webkit-font-smoothing: antialiased;
  background-color: #67cdee;
}
// * {
//   outline: 1px dotted #ff4d00;
// }
.tracking2 {
  letter-spacing: -0.1em;
  display: inline !important;
}
.txt-min {
  font-size: 13.2px;
}
.mainvisual {
  background-color: var(--blueGreen);
}
.font-meiryo {
  font-family: var(--meiryo);
}


@media screen and (max-width: 1170px) {
  .txt-min {
    font-size: 13px;
  }
  .tracking2 {
    letter-spacing: 0;
  }
  .before-title{
    position: relative;
    vertical-align: middle;
    &::after{
      content: "";
      width: 0;
      height: 1rem;
      background-color: blue;
      display: inline-block;
      vertical-align: middle;
      left: 0;
    }
    .before-middle {
      display: inline-block;
      vertical-align: middle;
    }
  }
}
@media screen and (max-width: 1430px) {
  html {
      font-size: 1.6vw;
  }
}
@media screen and (min-width: 768px) {
  .enters{
    display: none;
  }
}
@media screen and (max-width: 768px) {
  html {
    font-size: 3.7vw;
  }
  .enter{
    display: none;
  }
  .before-middle .txtmin {
    min-height: 1.9rem;
    line-height: 1.9rem;
    display: block;
  }
  .txt-min {
      font-size: .8rem;
  }
}