@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@300;400;500;600;700;800;900&display=swap');
:root {
  --gothic: "Yu Gothic", YuGothic, "ヒラギノ角ゴ ProN W3", "Hiragino Kaku Gothic ProN", Arial, メイリオ, Meiryo, sans-serif;
  --mincho: "游明朝体", "Yu Mincho", YuMincho, "ヒラギノ明朝 Pro", "Hiragino Mincho Pro", "MS P明朝", "MS PMincho", sans-serif;
  --meiryo: "Meiryo", "メイリオ", "ＭＳ Ｐゴシック", "MS PGothic", "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", Helvetica, Arial, Sans-Serif;
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
  --dark: #000;
  --light: #fff;
  --red: #ff0000;
  --redOrange: #ff4d00;
  --orange: #DF6951;
  --yellowOrange:#F1A501;
  --yellow: #fff600;
  --yellowGreen: #a2ff00;
  --green: #48d02d;
  --blueGreen: #2fc3e9;
  --blue: #181E4B;
  --blueViolet: #5E6282;
  --violet: #d311e4;
  --redViolet: #e41152;
}
html {
  font-size: 6.25%;
}
@media screen and (min-width: 768px) and (max-width: 1100px) {
  html {
    font-size: 4.3%;
  }
}

body {
  font-family: 'Noto Sans JP', sans-serif;
  font-size: 16rem;
  line-height: 1.6;
  font-weight: 500;
  -webkit-font-smoothing: antialiased;
}
.font-meiryo {
  font-family: var(--meiryo);
}
