@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
  --dark: #000;
  --light: #fff;
  --red: #ff0000;
  --redOrange: #ff4d00;
  --orange: #DF6951;
  --yellowOrange:#F1A501;
  --yellow: #fff600;
  --yellowGreen: #a2ff00;
  --green: #48d02d;
  --blueGreen: #2dc6d0;
  --blue: #181E4B;
  --blueViolet: #5E6282;
  --violet: #d311e4;
  --redViolet: #e41152;
  }



@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}



div{
  outline: 1px dotted red;
}
ul, ol {
  list-style-type: none;
}
* {
  padding: 0;
  margin: 0;
}
img {
  max-width: 100%;
  vertical-align: top;
}
:root{
  --dark: #000000;
  --light: #FFFFFF;
  --bgPrimary: #003A9A;
  --wlg: 980px;
}
.light\#{
  background-color: #fff;
}
.light\#6{
  background-color: #F6F6F6;
}
.dark\#{
  background-color: #000;
}
.blue\#{
  background-color: #003A9A;
}
h1.logo{
  line-height: 0;
  padding: 4% 4%;
  max-width: 72%;
}
.screen_footer .footer__backtop-container, .screen_footer .footer__backtop{
  background-color: #f6f6f6 !important;
}
@media (min-width:768px){
  h1.logo{
      max-width: 431px;
      padding: 1.8% 0;
  }
  ._x980{
      width: var(--wlg);
      margin: 0 auto;
  }
}

.wrap  {
  font-size: 0;
  height: 1px;
  background-color: blue;
}


.button {
  background-color: gray;
  width: 200px;
  text-align: center;
  font-weight: bold;
  color: #fff;
  height: 50px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}
.button .txt {
  position: relative;
  z-index: 999;
}
.btn-active{
  outline: 0 solid transparent;
  animation: btnActive 240ms;
  opacity: 1;
}
@keyframes btnActive {
  0%{
    outline: 0 solid transparent;
  }
  50%{
    outline: 2px solid rgba(#000, 0.6);
    opacity: 0.88;
  }
  100% {
    outline: 0 solid transparent;
    opacity: 1;
  }
}
