div{
    outline: 1px dotted red;
}
ul, ol {
    list-style-type: none;
}
* {
    padding: 0;
    margin: 0;
}
img {
    max-width: 100%;
    vertical-align: top;
}
:root{
    --dark: #000000;
    --light: #FFFFFF;
    --bgPrimary: #003A9A;
    --wlg: 980px;
}
.light\#{
    background-color: #fff;
}
.light\#6{
    background-color: #F6F6F6;
}
.dark\#{
    background-color: #000;
}
.blue\#{
    background-color: #003A9A;
}
h1.logo{
    line-height: 0;
    padding: 4% 4%;
    max-width: 72%;
}
.screen_footer .footer__backtop-container, .screen_footer .footer__backtop{
    background-color: #f6f6f6 !important;
}
@media (min-width:768px){
    h1.logo{
        max-width: 431px;
        padding: 1.8% 0;
    }
    ._x980{
        width: var(--wlg);
        margin: 0 auto;
    }
}