@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

div{
  outline: 1px dotted red;
}
ul, ol {
  list-style-type: none;
}
* {
  padding: 0;
  margin: 0;
}
img {
  max-width: 100%;
  vertical-align: top;
}
:root{
  --dark: #000000;
  --light: #FFFFFF;
  --bgPrimary: #003A9A;
  --wlg: 980px;
}
.light\#{
  background-color: #fff;
}
.light\#6{
  background-color: #F6F6F6;
}
.dark\#{
  background-color: #000;
}
.blue\#{
  background-color: #003A9A;
}
h1.logo{
  line-height: 0;
  padding: 4% 4%;
  max-width: 72%;
}
.screen_footer .footer__backtop-container, .screen_footer .footer__backtop{
  background-color: #f6f6f6 !important;
}
@media (min-width:768px){
  h1.logo{
      max-width: 431px;
      padding: 1.8% 0;
  }
  ._x980{
      width: var(--wlg);
      margin: 0 auto;
  }
}




.axis-w0{max-width:0%}.axis-w1{max-width:1%}.axis-w2{max-width:2%}.axis-w3{max-width:3%}.axis-w4{max-width:4%}.axis-w5{max-width:5%}.axis-w6{max-width:6%}.axis-w6\.5{max-width:6.5%}.axis-w7{max-width:7%}.axis-w7\.5{max-width:7.5%}.axis-w8{max-width:8%}.axis-w8\.5{max-width:8.5%}.axis-w9{max-width:9%}.axis-w9\.5{max-width:9.5%}.axis-w10{max-width:10%}.axis-w10\.5{max-width:10.5%}.axis-w11{max-width:11%}.axis-w11\.5{max-width:11.5%}.axis-w12{max-width:12%}.axis-w12\.5{max-width:12.5%}.axis-w13{max-width:13%}.axis-w13\.5{max-width:13.5%}.axis-w14{max-width:14%}.axis-w14\.5{max-width:14.5%}.axis-w15{max-width:15%}.axis-w15\.5{max-width:15.5%}.axis-w16{max-width:16%}.axis-w16\.5{max-width:16.5%}.axis-w17{max-width:17%}.axis-w17\.5{max-width:17.5%}.axis-w18{max-width:18%}.axis-w18\.5{max-width:18.5%}.axis-w19{max-width:19%}.axis-w19\.5{max-width:19.5%}.axis-w20{max-width:20%}.axis-w20\.5{max-width:20.5%}.axis-w21{max-width:21%}.axis-w21\.5{max-width:21.5%}.axis-w22{max-width:22%}.axis-w22\.5{max-width:22.5%}.axis-w23{max-width:23%}.axis-w23\.5{max-width:23.5%}.axis-w24{max-width:24%}.axis-w24\.5{max-width:24.5%}.axis-w25{max-width:25%}.axis-w25\.5{max-width:25.5%}.axis-w26{max-width:26%}.axis-w26\.5{max-width:26.5%}.axis-w27{max-width:27%}.axis-w27\.5{max-width:27.5%}.axis-w28{max-width:28%}.axis-w28\.5{max-width:28.5%}.axis-w29{max-width:29%}.axis-w29\.5{max-width:29.5%}.axis-w30{max-width:30%}.axis-w30\.5{max-width:30.5%}.axis-w31{max-width:31%}.axis-w31\.5{max-width:31.5%}.axis-w32{max-width:32%}.axis-w32\.5{max-width:32.5%}.axis-w33{max-width:33%}.axis-w33\.5{max-width:33.5%}.axis-w34{max-width:34%}.axis-w34\.5{max-width:34.5%}.axis-w35{max-width:35%}.axis-w35\.5{max-width:35.5%}.axis-w36{max-width:36%}.axis-w36\.5{max-width:36.5%}.axis-w37{max-width:37%}.axis-w37\.5{max-width:37.5%}.axis-w38{max-width:38%}.axis-w38\.5{max-width:38.5%}.axis-w39{max-width:39%}.axis-w39\.5{max-width:39.5%}.axis-w40{max-width:40%}.axis-w40\.5{max-width:40.5%}.axis-w41{max-width:41%}.axis-w41\.5{max-width:41.5%}.axis-w42{max-width:42%}.axis-w42\.5{max-width:42.5%}.axis-w43{max-width:43%}.axis-w43\.5{max-width:43.5%}.axis-w44{max-width:44%}.axis-w44\.5{max-width:44.5%}.axis-w45{max-width:45%}.axis-w45\.5{max-width:45.5%}.axis-w46{max-width:46%}.axis-w46\.5{max-width:46.5%}.axis-w47{max-width:47%}.axis-w47\.5{max-width:47.5%}.axis-w48{max-width:48%}.axis-w48\.5{max-width:48.5%}.axis-w49{max-width:49%}.axis-w49\.5{max-width:49.5%}.axis-w50{max-width:50%}.axis-w50\.5{max-width:50.5%}.axis-w51{max-width:51%}.axis-w51\.5{max-width:51.5%}.axis-w52{max-width:52%}.axis-w52\.5{max-width:52.5%}.axis-w53{max-width:53%}.axis-w53\.5{max-width:53.5%}.axis-w54{max-width:54%}.axis-w54\.5{max-width:54.5%}.axis-w55{max-width:55%}.axis-w55\.5{max-width:55.5%}.axis-w56{max-width:56%}.axis-w56\.5{max-width:56.5%}.axis-w57{max-width:57%}.axis-w57\.5{max-width:57.5%}.axis-w58{max-width:58%}.axis-w58\.5{max-width:58.5%}.axis-w59{max-width:59%}.axis-w59\.5{max-width:59.5%}.axis-w60{max-width:60%}.axis-w60\.5{max-width:60.5%}.axis-w61{max-width:61%}.axis-w61\.5{max-width:61.5%}.axis-w62{max-width:62%}.axis-w62\.5{max-width:62.5%}.axis-w63{max-width:63%}.axis-w63\.5{max-width:63.5%}.axis-w64{max-width:64%}.axis-w64\.5{max-width:64.5%}.axis-w65{max-width:65%}.axis-w65\.5{max-width:65.5%}.axis-w66{max-width:66%}.axis-w66\.5{max-width:66.5%}.axis-w67{max-width:67%}.axis-w67\.5{max-width:67.5%}.axis-w68{max-width:68%}.axis-w68\.5{max-width:68.5%}.axis-w69{max-width:69%}.axis-w69\.5{max-width:69.5%}.axis-w70{max-width:70%}.axis-w70\.5{max-width:70.5%}.axis-w71{max-width:71%}.axis-w71\.5{max-width:71.5%}.axis-w72{max-width:72%}.axis-w72\.5{max-width:72.5%}.axis-w73{max-width:73%}.axis-w73\.5{max-width:73.5%}.axis-w74{max-width:74%}.axis-w74\.5{max-width:74.5%}.axis-w75{max-width:75%}.axis-w75\.5{max-width:75.5%}.axis-w76{max-width:76%}.axis-w76\.5{max-width:76.5%}.axis-w77{max-width:77%}.axis-w77\.5{max-width:77.5%}.axis-w78{max-width:78%}.axis-w78\.5{max-width:78.5%}.axis-w79{max-width:79%}.axis-w79\.5{max-width:79.5%}.axis-w80{max-width:80%}.axis-w80\.5{max-width:80.5%}.axis-w81{max-width:81%}.axis-w81\.5{max-width:81.5%}.axis-w82{max-width:82%}.axis-w82\.5{max-width:82.5%}.axis-w83{max-width:83%}.axis-w83\.5{max-width:83.5%}.axis-w84{max-width:84%}.axis-w84\.5{max-width:84.5%}.axis-w85{max-width:85%}.axis-w85\.5{max-width:85.5%}.axis-w86{max-width:86%}.axis-w86\.5{max-width:86.5%}.axis-w87{max-width:87%}.axis-w87\.5{max-width:87.5%}.axis-w88{max-width:88%}.axis-w88\.5{max-width:88.5%}.axis-w89{max-width:89%}.axis-w89\.5{max-width:89.5%}.axis-w90{max-width:90%}.axis-w90\.5{max-width:90.5%}.axis-w91{max-width:91%}.axis-w91\.5{max-width:91.5%}.axis-w92{max-width:92%}.axis-w92\.5{max-width:92.5%}.axis-w93{max-width:93%}.axis-w93\.5{max-width:93.5%}.axis-w94{max-width:94%}.axis-w94\.5{max-width:94.5%}.axis-w95{max-width:95%}.axis-w95\.5{max-width:95.5%}.axis-w96{max-width:96%}.axis-w96\.5{max-width:96.5%}.axis-w97{max-width:97%}.axis-w97\.5{max-width:97.5%}.axis-w98{max-width:98%}.axis-w98\.5{max-width:98.5%}.axis-w99{max-width:99%}.axis-w99\.5{max-width:99.5%}